@charset "utf-8";

/* ------------------------- connection og fonts ----------------------- */

@font-face {
	font-family: "symbols-technomart";
	src:	url("../fonts/symbols-technomart.woff") format("woff"),
			url("../fonts/symbols-technomart.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;       
}

/* --------------------------- common styles --------------------------- */

@charset "utf-8";

html, body {
	padding: 0;
	margin: 0;

	min-width: 960px;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;

	color: #000;

	background: #fff;
}

/*
font-family: 'Cuprum', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
*/

.container {
	max-width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}


img{
	max-width: 100%;
	height: auto;
}

.visually-hidding {
	display: none;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.btn {

}

.btn:hover,
.btn:active {
	
}

.btn.disabled:hover,
.btn:disabled:hover {

}

.btn.disabled,
.btn:disabled {

}

/* --------------------------- header styles --------------------------- */

.main-header {
	padding-bottom: 60px;

	background-color: #f1f5f7;
}

.main-header .top {
	max-height: 42px;
	background-color: #293449;
}

	.main-header .top:hover {
		max-height: 42px;
		background-color: #212a3a;
	}

.main-header .top .logo {
	float: left;
}

	.main-header .top .logo a {
		display: inline-block;
		padding: 9px 52px;
		border-bottom: 5px solid #b52933;

		font-size: 24px;
		line-height: 24px;
		font-weight: 700;
		text-transform: uppercase;
		color: #fff;
		text-decoration: none;

		background-color: #ee3643;
	}

	.main-header .top .logo a:hover {
		background-color: #ca2c37;
	}

	.main-header .top .logo a:active{
		background-color: #ba2732;
	}	

.main-header .top .form-search {
	position: relative;
	float: left;
}

	.main-header .top .form-search input[type="search"] {
		border: none;
		padding: 12px 0;
		padding-left: 49px;

		min-width: 270px;

		font-size: 17px;
		color: #fff;

		background-color: transparent;
	}

	.main-header .top .form-search input[type="search"]::placeholder {
		color: #fff;
	}	

	.main-header .top .form-search .icon-search::before {
		content: "\1f50d";
		position: absolute;
		left: 18px;
		top: 50%;
		transform: translateY(-50%);
		
		font-family: "symbols-technomart";
		font-size: 17px;
		color: rgba(255, 255, 255, 0.3);
	}

	.main-header .top .form-search:hover::before {
		color: rgba(255, 255, 255, 1);
	}	


	.main-header .top .form-search input[type="search"]:focus {
		color: #000;

		background-color: #fff;
	}

	.main-header .top .form-search input[type="search"]:focus + .icon-search::before {
		color: #ee3643;	
	}	


.main-header .top a {
	box-sizing: border-box;
	position: relative;

	display: inline-block;
	min-width: 150px;
	padding-top: 12px;
	padding-bottom: 11px;

	font-size: 17px;
	text-align: center;
	text-decoration: none;
	color: #fff;
}	

.main-header .top .bookmark {
	float: left;
	text-align: left;
	padding-left: 50px;
}	

	.main-header .top .bookmark::before  {
		content: "\1f516";
		position: absolute;
		left: 15px;
		
		font-family: "symbols-technomart";
		font-size: 17px;
		color: rgba(255, 255, 255, 0.3);
	}

	.main-header .top .bookmark:hover::before  {
		color: rgba(255, 255, 255, 1);
	}	

	.main-header .top .bookmark:active::before  {
		color: rgba(255, 255, 255, 0.5);
	}	

	.main-header .top .bookmark:active  {
		color: rgba(255, 255, 255, 0.6);
	}	

.main-header .top .basket {
	float: left;
	text-align: left;
	padding-left: 50px;
}	

	.main-header .top .basket::before {
		content: "\62";
		position: absolute;
		left: 15px;

		font-family: "symbols-technomart";
		font-size: 17px;
		color: rgba(255, 255, 255, 0.3);
	}	

	.main-header .top .basket:hover::before {
		color: rgba(255, 255, 255, 1);
	}	

	.main-header .top .basket:active::before {
		color: rgba(255, 255, 255, 0.5);
	}	

	.main-header .top .basket:active {
		color: rgba(255, 255, 255, 0.6);
	}	

.main-header .top .btn-сheckout {
	float: right;

	background-color: #63a63e;
}	

	.main-header .top .btn-сheckout:active {
		color: rgba(255, 255, 255, 0.50);
	}	

.main-header .center {
	padding: 45px 0;
}

.main-header .center .promo {
	float: left;
	max-width: 198px;
	margin: 0;
	padding-left: 50px;
	padding-top: 5px;

	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
}

.main-header .center .contacts {
	float: left;
	min-width: 270px;
	margin: 0 70px;
}

	.main-header .center .contacts .phone {
		position: relative;
		border: 3px solid #fff;
		margin: 0;
		padding: 10px 0;
		padding-left: 35px;
		margin-bottom: 10px;

		font-size: 21px;
		line-height: 18px;
		color: #e9292a;
		text-align: center;	
	}

	.main-header .center .contacts .phone::before {
		content: "\1f4de";

		position: absolute;
		left: 15px;

		font-family: "symbols-technomart";
		font-size: 22px;
		color: #b7bfc8;
	}

	.main-header .center .contacts .address {
		margin: 0;
		padding: 0;

		text-align: center;
		font-size: 14px;
		line-height: 18px;
		color: #32425c;
	}

.main-header .center .user-block {
	float: right;
}

	.main-header .center .user-block .btn-white {
		display: inline-block;
		padding: 14px 25px;

		font-size: 21px;
		line-height: 18px;
		text-decoration: none;
		color: #000;
		
		background-color: #fff;
	}

	.main-header .center .user-block .btn-white:hover {
		color: #ee3643;
	}

	.main-header .center .user-block .btn-white:active {
		color: rgba(0, 0, 0, 0.3);
	}	

	.main-header .center .user-block .auth {
		position: relative;
		padding-left: 48px;
		margin-right: 5px;
	}

	.main-header .center .user-block .auth::before {
		content: "\2386";

		position: absolute;
		left: 15px;

		font-family: "symbols-technomart";
		font-size: 22px;
		color: #b7bfc8;
	}

	.main-header .center .user-block .auth:hover::before {
		color: #32425c;
	}

	.main-header .center .user-block .auth:active::before {
		color: #c5c5c5;
	}

.main-nav {

}

	.main-nav ul {
		margin: 0;
		padding: 0 5px;
		border-bottom: 5px solid #293449;

		list-style: none;
		font-size: 0;

		background-color: #32425c;
	}	

	.main-nav ul li {
		display: inline-block;

	}

	.main-nav ul li a {
		display: inline-block;
		padding: 20px 33px;
		
		font-size: 17px;
		line-height: 17px;
		text-decoration: none;
		color: #fff;
	}

	.main-nav ul li a:hover {
		background-color: #293449;
	}

	.main-nav ul li a:active {
		color: rgba(255, 255, 255, 0.50);
	}	

/* --------------------------- index styles ---------------------------- */


/* --------------------------- footer styles --------------------------- */


/* --------------------------- modal windows --------------------------- */

